<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <panth_searchautocomplete>
            <general>
                <enabled>1</enabled>
                <min_query_length>2</min_query_length>
                <max_query_length>64</max_query_length>
                <debounce_ms>200</debounce_ms>
            </general>
            <results>
                <products_limit>6</products_limit>
                <categories_limit>5</categories_limit>
                <pages_limit>3</pages_limit>
                <popular_limit>5</popular_limit>
                <show_price>1</show_price>
                <show_image>1</show_image>
                <show_categories>1</show_categories>
                <show_pages>1</show_pages>
                <show_popular>1</show_popular>
            </results>
            <cache>
                <enabled>1</enabled>
                <ttl_seconds>300</ttl_seconds>
            </cache>
            <security>
                <require_form_key>1</require_form_key>
                <rate_limit_per_minute>60</rate_limit_per_minute>
                <block_empty_ua>1</block_empty_ua>
                <block_bot_ua>1</block_bot_ua>
                <honeypot_enabled>1</honeypot_enabled>
                <require_ajax_header>1</require_ajax_header>
                <require_same_origin>1</require_same_origin>
                <max_body_bytes>4096</max_body_bytes>
            </security>
        </panth_searchautocomplete>
    </default>
</config>
