<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_SearchAutocomplete::root"
             title="Search Autocomplete"
             module="Panth_SearchAutocomplete"
             sortOrder="220"
             parent="Panth_Core::panth_extensions"
             resource="Panth_SearchAutocomplete::root"/>
        <add id="Panth_SearchAutocomplete::docs"
             title="Documentation"
             module="Panth_SearchAutocomplete"
             sortOrder="10"
             parent="Panth_SearchAutocomplete::root"
             action="panth_searchautocomplete/docs/index"
             resource="Panth_SearchAutocomplete::docs"/>
        <add id="Panth_SearchAutocomplete::config"
             title="Configuration"
             module="Panth_SearchAutocomplete"
             sortOrder="20"
             parent="Panth_SearchAutocomplete::root"
             action="adminhtml/system_config/edit/section/panth_searchautocomplete"
             resource="Panth_SearchAutocomplete::config"/>
    </menu>
</config>
